.key {
  height: 6rem;
  width: 6rem;
  background-color: gray;

  border: none;
  border-radius: 5px;
  transition-duration: 200ms;
}

.key:hover {
  background-color: lightblue;
}

.key-container {
  display: grid;
  grid-template-columns: 6rem 6rem 6rem;
  grid-gap: 0.5rem;
}
.operand-container {
  display: grid;
  grid-template-columns: 6rem;
  grid-gap: 0.5rem;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container > div {
  margin: 0.25rem;
}

.display {
  margin: auto;
  width: 20vw;
  height: 10vh;
  text-align: center;
  border: 5px solid darkgrey;
  border-radius: 10px;
  background: lightgray;
}


